html, body {
    margin: 0;
}

.hundra-vh {
    height: 100vh;
    background-image: url("img/pexels-content-pixie-2736497.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hundra-vh h1 {
    margin: 0;
}